.tipos_de_dados h5,
.variaveis h5 {
    color: var(--blue3);
    font-weight: 700;
}

.variaveis p,
.tipos_de_dados p,
.operadores_1 p {
    margin: 0;
    padding: 0 0 20px 0;
}

.operadores,
.estruturas_de_controle,
.funcoes_e_escopo {
    display: none;
}
