a {
    transition: all ease .2s;
}

a:hover {
    transition: all ease .2s;
    color: var(--blue2);
}

b {
    color: var(--green1);
}

.operadores,
.estruturas_de_controle,
.funcoes_e_escopo {
    display: none;
}

/* color */
:root {
    --blue2: #85A7D8;
    --blue3: #B1CDEC;
    --blue4: #1b9fff;
    --black1: #212529;
    --black2: #1f1f1f;
}

/* cod_color */
:root {
    --blue1: #569cb5;
    --blue5: #9cdcfe;
    --blue6: #94cea8;
    --green1: #529955;
    --pink1: #ce70b3;
    --yellow1: #ffd710;
    --yellow2: #dcdcaa;
}

/* container */
.container h1 {
    color: var(--blue3);
    margin: 20px 0;
}

.container aside {
    margin: 0 0 20px;
    color: var(--blue3);
}

.container aside p {
    color: var(--blue3);
    font-size: 1.1rem;
}

/* banner */
.banner {
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-image: url(../img/banner.png);
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blue3);
}

.banner h1 {
    background-color: var(--black1);
    height: 80px;
    width: 670px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px black;
}

/* navbar */
.navbar {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar p {
    margin: 0;
    cursor: pointer;
}

.navbar_1 {
    color: white;
}

.navbar_2,
.navbar_3,
.navbar_4,
.navbar_5 {
    color: var(--blue3);
}

.navbar_1:hover,
.navbar_2:hover,
.navbar_3:hover,
.navbar_4:hover,
.navbar_5:hover {
    text-decoration: underline;
}

/* Variaveis tipos de dados */
.tipos_de_dados h5,
.variaveis h5 {
    color: var(--blue3);
    font-weight: 700;
}

.variaveis p {
    margin: 0;
    padding: 0 0 10px 0;
}

.cod_1 img{
    padding: 0;
    margin: 10px 0;
    width: 100%;
}

.cod_2 img{
    padding: 0;
    margin: 10px 0;
    width: 60%;
}

.all-cod {
    margin: 20px 0;
    border: 1px solid white;
}

.container-cod {
    background-color: var(--black2);
    overflow: hidden;
}

.cod {
    color: var(--blue1);
    display: flex;
    padding: 0 10px;
}

.span-cor {
    color: var(--blue5);
}

.margin-left {
    margin-left: 10px;
}

.margin-left-5 {
    margin-left: 3px;
}

.margin-left-left {
    margin-left: 30px;
}

.span-white {
    color: white;
}

.margin-center {
    margin: 0 6px 0 9px;
}

.span-green {
    color: var(--blue6);
}

.span-com {
    color: var(--green1);
}

/* footer */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blue3);
}