.container-js {
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
    position: absolute;
}

.container-js {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.container-js p {
    padding-top: 30px;
}

#js_icon {
    max-width: 120px;
    width: 100%;
    animation: identifier 2s linear infinite;
    display: block;
    cursor: pointer;
}

@keyframes identifier {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}